In [6]:
import pandas as pd

# We will start by looking at the contents of the data to get an idea of what is inside and if it will be useful.
# Default return of 5.
def open_and_return_csv_head(filepath, n_return=5):
    stormdf = pd.read_csv(filepath, encoding='unicode_escape')

    # Drop NaN values.
    stormdf = stormdf.dropna(axis='columns')
    return stormdf.head(n_return)

data_dir = "../data/stormdata/details"
stormdata_1996_name = "StormEvents_details-ftp_v1.0_d1966_c20210803.csv"
filepath = data_dir + "/" + stormdata_1996_name

# Look at stormdata....csv files first. Nothing super useful here, we are looking for coordinates. 
open_and_return_csv_head(filepath, 10)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EVENT_ID,STATE,STATE_FIPS,YEAR,...,DAMAGE_PROPERTY,DAMAGE_CROPS,MAGNITUDE,TOR_LENGTH,TOR_WIDTH,BEGIN_RANGE,END_RANGE,BEGIN_LAT,BEGIN_LON,DATA_SOURCE
0,196609,5,830,196609,5,830,9985065,FLORIDA,12,1966,...,0K,0,0.00,0.0,10,0,0,27.97,-82.80,PUB
1,196607,11,2118,196607,11,2118,10055623,MINNESOTA,27,1966,...,0,0,55.00,0.0,0,0,0,45.58,-94.18,PUB
2,196607,6,1900,196607,6,1900,10059035,MISSOURI,29,1966,...,0,0,50.00,0.0,0,0,0,37.78,-94.08,PUB
3,196605,26,1900,196605,26,1900,10080646,NEW MEXICO,35,1966,...,0K,0,0.00,0.0,33,0,0,34.22,-103.68,PUB
4,196608,5,2300,196608,5,2300,10080664,NEW MEXICO,35,1966,...,0,0,52.00,0.0,0,0,0,35.70,-105.18,PUB
5,196611,16,1315,196611,16,1315,10071207,MONTANA,30,1966,...,0,0,51.00,0.0,0,0,0,46.70,-113.18,PUB
6,196605,30,1600,196605,30,1600,10070103,MONTANA,30,1966,...,0,0,74.00,0.0,0,0,0,48.88,-110.18,PUB
7,196610,14,1400,196610,14,1400,10011977,IOWA,19,1966,...,2.5K,0,0.00,0.0,33,0,0,43.10,-91.60,PUB
8,196606,9,2000,196606,9,2000,10089766,OHIO,39,1966,...,0,0,0.00,0.0,0,0,0,41.38,-83.18,PUB
9,196604,19,1908,196604,19,1908,10095455,OKLAHOMA,40,1966,...,0,0,1.75,0.0,0,0,0,36.08,-95.90,PUB