In [29]:
import pandas as pd

# We will start by looking at the contents of the data to get an idea of what is inside and if it will be useful.
# Default return of 5.
def open_and_return_csv_head(filepath, n_return=5):
    stormdf = pd.read_csv(filepath, encoding='unicode_escape')

    # Drop NaN values.
    stormdf = stormdf.dropna(axis='columns')
    return stormdf.head(n_return)

data_dir = "../data"
stormdata_1996_name = "Stormdata_1998.csv"
filepath = data_dir + "/" + stormdata_1996_name

# Look at stormdata....csv files first. Nothing super useful here, we are looking for coordinates. 
open_and_return_csv_head(filepath, 10)

/tmp/ipykernel_82302/1727142923.py:6: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  stormdf = pd.read_csv(filepath, encoding='unicode_escape')

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,CZ_FIPS,CZ_NAME,WFO,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT
0,199801,1,0,199801,31,2359,1072033,5628839,GEORGIA,13,...,88,SCREVEN,CHS,1/1/1998 0:00,EST,1/31/1998 23:59,0,0,0,0
1,199801,1,0,199801,26,800,1073671,5634223,FLORIDA,12,...,53,HERNANDO,TBW,1/1/1998 0:00,EST,1/26/1998 8:00,0,0,0,0
2,199801,1,0,199801,25,800,1073670,5634222,FLORIDA,12,...,101,PASCO,TBW,1/1/1998 0:00,EST,1/25/1998 8:00,0,0,0,0
3,199801,1,0,199801,14,800,1073669,5634221,FLORIDA,12,...,101,PASCO,TBW,1/1/1998 0:00,EST,1/14/1998 8:00,0,0,0,0
4,199801,1,0,199801,1,2100,1073668,5634220,FLORIDA,12,...,57,HILLSBOROUGH,TBW,1/1/1998 0:00,EST,1/1/1998 21:00,0,0,0,0
5,199801,1,0,199801,12,800,1073667,5634219,FLORIDA,12,...,115,SARASOTA,TBW,1/1/1998 0:00,EST,1/12/1998 8:00,0,0,0,0
6,199801,1,0,199801,2,800,1073666,5634218,FLORIDA,12,...,57,HILLSBOROUGH,TBW,1/1/1998 0:00,EST,1/2/1998 8:00,0,0,0,0
7,199801,1,0,199801,2,900,1072008,5628669,ALASKA,2,...,20,ALEUTIAN ISLANDS,AFC,1/1/1998 0:00,AST,1/2/1998 9:00,0,0,0,0
8,199801,1,0,199801,31,2359,1072030,5628831,SOUTH CAROLINA,45,...,45,BERKELEY,CHS,1/1/1998 0:00,EST,1/31/1998 23:59,0,0,0,0
9,199801,1,0,199801,31,2359,1072030,5628832,SOUTH CAROLINA,45,...,44,DORCHESTER,CHS,1/1/1998 0:00,EST,1/31/1998 23:59,0,0,0,0